Movie Object will be an abstract object
    - DONE will define a name, run time, stars NC, MPCRS rating, and year of release
    - DONE can be bought or rented
    - DONE can be DVD, Blu-ray, or HD DVD
    - DONE if a movie stars Nick Cage, it should have a $4 discount applied to it
DVD
    - DONE will have a 90% discount on all objects of this type

Blu-ray
    - DONE will have a discount unless it stars Nicolas Cage

HD DVD
    - DONE will have a 50% discount on all objects of this type

Store
    - DONE manages the importing of movies
    - DONE must be opened to sell
    - when store is closed for the day a report of inventory left in stock and money made that day will be run

Employee
    - DONE must punch in/out
    - sells/rents movies
    - returns movies


    KNOWN BUGS
Changing a movie to star Nick Cage after setting the price doesn't apple the discount.
Check on returning rentals
