Movie Object will be an abstract object
    - will define a name, run time, stars NC, MPCRS rating, and year of release
    - can be bought or rented
    - may be DVD, Blu-ray, or HD DVD
    - if a movie stars Nick Cage, it should have a $4 discount applied to it
DVD
    - will implement the discount class and have a 90% discount on all objects of this type

Blu-ray
    - will not implement the discount class unless it stars Nicolas Cage

HD DVD
    - will implement the discount class and have a 50% discount on all objects of this type

Store
    - manages the importing of movies
    - must have employees punched in before opening
    - must be opened to sell/rent/return
    - when store is closed for the day a report of inventory left in stock and money made that day will be run

Employee
    - must punch in/out
    - sells/rents movies
    - returns movies


    KNOWN BUGS
Changing a movie to star Nick Cage after setting the price doesn't apple the discount.
